.main{
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    color: var(--white);
    top: 0;
}

.mainCont{
    width: 40%;
    position: fixed;
}

/**
    * Social
*/

.social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    margin: 20px 10px;
    z-index: 1;
    animation: movimento 2.5s ease-in-out infinite alternate;
}

.social::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s ease;
}

.social::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(0.88);
    z-index: -1;
    transition: 0.5s ease;
}

.social:hover::before {
    filter: blur(5px);
}

.social:hover::after {
    transform: scale(0);
}


@media screen and (max-width: 768px) {

    .main{
        position: relative;
        height: calc(100vh - 68px);
    }

    .mainCont{
        width: 100%;
        position: relative;
    }
}