.box{
    background-color: #101430; 
    color: var(--color-text);
    padding: 10px;
    border: 4px solid var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleBox{
    font-size: 12px;
}

.textBox{
    font-size: 14px;
    margin: 0px;
}