.icon{
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--container-secondary);
    margin-left: 2rem;
    cursor: pointer;
}