:root{
    --bs-nav-pills-link-active-bg: red;
    --bs-nav-pills-link-active-bg: red;
}

a {
    letter-spacing: 0px;
    font-family: var(--font-poppins);
}

.background{
    background: #0D1024;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0D1024;
    color: #791E58;
}

