.dark{
    --white: #fff;
    --box: #122D3E;
    --primary: #0D1024;
    --secondary: #791E58;
    --text-primary: #54D3CB;
    --text-secondary: #7C8CA9;
    --container-primary: #101430;
    --container-secondary: #26338b1d;
}

.light {
    --primary: #F2F2F2; 
    --secondary: #0D1024;
    --text-primary: #791E58;
    --white: #0D1024;
    --container-primary: #E6E6E6;
    --container-secondary: #E6E6E6;
    --text-secondary: #0D1024;
    --box: #FFF;
}

a {
    letter-spacing: 0px;
    font-family: var(--font-poppins);
}

.nav{
    --bs-nav-link-hover-color: var(--text-secondary);
}

.nav-link{
    color: var(--text-secondary);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--primary);
    color: var(--secondary);
}

.padding-top-nav{
    padding-top: 5rem;
}

