.home{
    height: calc(100vh - 68px);
}

.img{
    position: relative;
    width: 70%;
    height: 70%;
}

@media screen and (max-width: 768px) {
    .img{
        display: none;
    }

    .home{
        height: 100%;
    }
}