.contact{
    background: #0D1024;
    height: calc(100vh - 68px);
}

.title{
    color: #791E58;
}

@media screen and (max-width: 450px) {
    .contact{
        height: auto;
        margin: 60px 0;
    }
}
