.contact{
    background: var(--primary);
    height: calc(100vh - 68px);
}

.title{
    color: var(--secondary);
}

@media screen and (max-width: 450px) {
    .contact{
        height: auto;
        margin: 60px 0;
    }
}
