.form{
    background: #26338b1d;
    border: 2px solid #791E58;
    color: #fff;
    border-radius: 10px;
    height: auto;	
}

.styleButton{
    background: #791E58;
    color: #fff;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    align-self: center;
    width: 50%;
    margin: 30px;
}