.form{
    background: var(--container-secondary);
    border: 2px solid var(--secondary);
    color: var(--white);
    border-radius: 10px;
    height: auto;	
}

.styleButton{
    background: var(--secondary);
    color: #fff;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    align-self: center;
    width: 50%;
    margin: 30px;
}