.styleBox{
    background-color: #101430; 
    color: #7C8CA9;
    padding: 10px;
}

.borderBox{
    border: 4px solid #0D1024;
}

.titleBox{
    font-size: 12px;
}

.textBox{
    font-size: 14px;
    margin: 0px;
}