.formacao{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.formacaoContn{
    height: auto;
    border-radius: 20px;
    padding: 10px;
    /* background-color: #101430; */
}

@media screen and (max-width: 768px) {
    .formacao{
        height: auto;
        margin-bottom: 30px;
    }
}
