.styleP{
    color: #7C8CA9;
    font-size: 14px;
}

.styleBox{
    border: 1px solid #26338b;
    border-radius: 10px;
    background-color: #26338b1d;
    transition: transform 0.3s ease;
}

.styleBox header{
    color: #54D3CB;
}

.styleBox span {
    transform: translate(3px, -7px);
}

.styleBox:hover{
  cursor: pointer;
}

.styleI{
    font-size: 0.7rem;
    transition: transform 0.3s ease;
}

.backgroundTech{
    background: #122D3E;
    color:#54D3CB;
}

.fontSize16{
    font-size: 13px;
}

.marginNone{
    margin: 0;
}

@media screen and (max-width: 450px) {
    .subtitle{
        color: #E2E8F0;
        font-size: 14px;
    }

    .boxImg{
        align-self: baseline;
        margin-left: 15px;
    }
}


@media screen and (max-width: 768px) {
    .backMobile{
        background:  #26338b1d;
        border-radius: 10px;
    }   
}

