.portTech{
    background: var(--box);
    color: var(--text-primary);
    font-size: 13px;
}

.styleP{
    color: var(--text-secondary);
    font-size: 14px;
}

.styleBox{
    border-radius: 10px;
    background-color: var(--container-secondary);
    transition: transform 0.3s ease;
}

.styleBoxHeader header{
    color: var(--white);
}

.styleBox header{
    color: var(--text-primary);
}

.styleBox span {
    transform: translate(3px, -7px);
}

.styleBox:hover{
  cursor: pointer;
}

.styleI{
    font-size: 0.7rem;
    transition: transform 0.3s ease;
}

.backgroundTech{
    background: var(--box);
    color: var(--text-primary);
}

.fontSize16{
    font-size: 13px;
}

.marginNone{
    margin: 0;
}

.box{
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
    text-decoration: none;
}

.boxImg{
    margin: 0 0 1rem 1rem;
}

@media screen and (max-width: 450px) {
    
    .boxImg{
        align-self: baseline;
        margin-left: 15px;
    }
}


@media screen and (max-width: 768px) {
    .backMobile{
        background:  var(--container-secondary);
        border-radius: 10px;
    }   
}

@media screen and (max-width: 1000px) {
    .box{
        flex-wrap: wrap;
    }
}

